---
import Layout from "@/layouts/Layout.astro";
import Error from "@/sections/Error.astro";
---

<Layout
  description="Portfolio of Sebastian Guevara, a software engineer based in Corrientes, Argentina"
  title="Sebastian Guevara - Page not found"
>
  <main>
    <Error
      error="404"
      message="Page not found"
      contextMessage="The page you are looking for does not exist."
    />
  </main>
</Layout>
