---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";
import Education from "@/sections/Education.astro";
import Projects from "@/sections/Projects.astro";
import SectionContainer from "@/sections/SectionContainer.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  title="Sebastian Guevara"
  description="Sebastian Guevara Portfolio, Software developer based in Corrientes, Argentina."
>
  <main class="flex flex-col lg:pl-[7rem] mx-4 lg:mx-14">
    <SectionContainer id="home" title="home">
      <Hero />
    </SectionContainer>
    <SectionContainer id="experience" title="Experience">
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects" title="Projects">
      <Projects />
    </SectionContainer>
    <SectionContainer id="education" title="Education">
      <Education />
    </SectionContainer>
    <SectionContainer id="about" title="About" class:list={"min-h-max"}>
      <About />
    </SectionContainer>
    <Footer />
  </main>
</Layout>

<style></style>
