---
interface Props {
  institution: string;
  url: string | null;
  area: string;
  studyType: string;
  startDate: string;
  endDate: string | null;
  score: string | null;
}

const { institution, url, area, studyType, startDate, endDate, score } = Astro.props
---

<div
  class="relative mx-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-['']"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-secondary-100 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-secondary-100">{area} - {studyType}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">{institution}</h4>
      <p class="text-on_primary_container dark:text-on_primary_container"> {startDate} - {endDate? endDate : 'Present'} </p>
      <p class="text-primary-100"> {score? 'Average: ' + score : ''} </p>
    </div>
  </div>
</div>