---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-primary-100 transition bg-primary-500 text-md hover:bg-on_secondary hover:border-on_secondary group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-primary-300 hover:scale-105"
>
  <slot />
</a>
