---
import GithubIcon from "@/components/icons/brands/Github.astro";
import Linkedin from "@/components/icons/brands/Linkedin.astro";
import InstagramIcon from "@/components/icons/brands/Instagram.astro";
---

<nav class:list={`${Astro.props.class}`}>
  <ul
    class="flex flex-row items-center gap-x-6"
    aria-label="Redes Sociales de Sebastian Guevara"
  >
    <li>
      <a
        target="_blank"
        rel="noopener"
        aria-label="Instagram de Sebastian Guevara, se abrirá en una nueva pestaña"
        href="https://www.instagram.com/_sebguevara"
        class="text-secondary-100 inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
      >
        <InstagramIcon
          class="text-secondary-100 transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        aria-label="Linkedin de Sebastian, se abrirá en una nueva pestaña"
        href="https://www.linkedin.com/in/sebastian-guevara-1535b7183"
        class="text-secondary-100 inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
      >
        <Linkedin
          class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        rel="noopener"
        aria-label="GitHub de Sebastian Guevara, se abrirá en una nueva pestaña"
        href="https://github.com/Seba74"
        class="text-secondary-100 inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
      >
        <GithubIcon
          class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
        />
      </a>
    </li>
  </ul>
</nav>
